body {
    width: auto;
    height: auto;

}

.cell:hover {
    background-color: gray;

}

table {
    border: 10px solid black;
    margin: 20px;

}

.cell {
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

.whi {
    background: white;
}

.bla {
    background: rgb(64, 64, 64);
}

/* /* .row-numbers {
    height: auto;
    width: auto;
    text-align: center;
} */
.cell-click{
  background-color: aqua;  
 }
 .possible-move {
    background-color: green
 }